.rotate_red_layer {
  bottom: -160px;
  right:-4px;
  width: 103%;
  height: 50px;
  transform: rotate(-4deg);
}
.rotate_gray_layer{
  bottom: -160px;
  right: -5px;
  width: 103%;
  height: 50px;
  transform: rotate(5deg);
}